/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

 html {
   min-height: 100%;
   position: relative;
 }

 body {
   background-color: #eee;
   color: #333;
   margin-bottom:60px;
 }

 .navbar{
   border-radius: 0px;
 }

 .contents{
   background-color: #fff;
   border: solid 1px #ccc;
   margin-bottom: 20px;
   padding:20px;
 }

 .contents p{
   text-align: center;
 }

.blog-title{
  padding-bottom: 10px;
}

 h1 {
  font-size: 24px;
  padding:0;
  text-align: center;
}

.blog-content{
  border-top: dotted 1px #ccc;
  padding: 10px;
  word-break: break-all;
}

.blog-button{
  padding: 10px 0 10px 20px;
}

.blog-input{
  height: 50px;
  margin-top: 15px;
}

.input-title,
.input-content{
  margin:15px 0;
}

.link-button{
  margin-top:15px;
  text-align: center;
}

 .footer{
   text-align: center;
   background-color: #222;
   color:#fff;
   padding: 15px;
   position: absolute;
   height:60px;
   min-width: 100%;
   bottom:0;
 }

/* .footer .container {
   width: 100%;
 }*/
