.top_p{
  text-align: center;
  padding: 15px 0px;
}

.image-pc{
  display: block !important;
  text-align: center;
  max-width: 100%;
}

.image-sp{
  display: none !important;
  text-align: center;
  max-width: 100%;
}

@media only screen and (max-width: 750px) {
.image-pc { display: none !important; }
.image-sp { display: block !important; }
}
